.Header {
    display: flex;
    font-size: 30px;
    background-color: #17181e;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto 35px;
    padding-bottom: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}
.content{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
