.PostCard{
    background-color: #131419;
    padding: 16px 16px;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    word-wrap: anywhere;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
.PostCard:hover{
    background-color: #16171d;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.author{
    text-align: center;
    color: #c9c9d7;
}
.headline{
    font-weight: bold
}
.description{
    line-height: 1.45;
    color: #8a8c92;
}