.TextInput{
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    transition: box-shadow ease-in-out 0.3s;
    background-color: #171923;
    font-size: 20px;
    font-weight: 450;
}
.TextInput:focus{
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.small{
    font-weight: bold;
    font-size: 10px;
}
.medium{
    font-weight: bold;
    font-size: 15px;
}
.large{
    font-size: 20px;
}